.testfiles-hidden {
    visibility: hidden;
    position: absolute;
    top: 0px;
    height: 0px;
}

.testfiles-panel {
    /*border: 1px solid grey;*/
    margin-top: 10px;
    height: auto;
    /*text-align: center;*/
}

.testfiles-name {
    /*font-size: 14px;*/
    width: 100%;
    margin: 3px;
}

.testfiles-highlight {
    background-color: #dddddd;
    cursor: pointer;
}