.tests-hidden {
    visibility: hidden;
    position: absolute;
    top: 0px;
    height: 0px;
}

.tests-panel {
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: auto;
}

.tests-name {
    font-size: 14px;
    width: 100%;
    margin: 3px;
}

.tests-highlight {
    background-color: #dddddd;
    cursor: pointer;
}
