<div class='metrics-panel' ng-class='{"metrics-hidden": hideMetrics()}'>
    <div ng-repeat='metric in metrics'>
        <div class='metrics-name' ng-click='toggleMetrics(metric)'>
             {{metric.name}}
             <div class='metrics-graph' id="{{file.name + test.name + metric.name}}">

             </div>
         </div>

        <!-- <div class='metrics-name' ng-click='toggleMetrics(metric)'
             ng-class='{"metrics-highlight": highlightMetrics}'
             ng-mouseenter='highlightMetrics=true' ng-mouseout='highlightMetrics=false'>
             {{metric.name}}
             <div class='metrics-graph'></div>
         </div> -->
    </div>
</div>